body{
    Background-color: #ffffff
}

body{margin: 5%;
    padding:0%;
    background-image: url(img./GrassBackground.JPG);

}


.wrapper{
    Background-color: #8a7b06;
}

.wrapper{width: 915px;
margin: 0 auto;
max-width: 930px;
padding: 0 2%;
}

h1 {text-align: center;}

h1, h2, h3, h4{ margin-top: 0; color:#f6e3b2}

header{background-color: #158a06;
  padding: 10px;
  height: 70px;
}

nav{ background-color: #e6b029;
  
}

h1{margin-top: 0;}
h1{font-size: 60px;}
h1{ font-family: "Contrail One";}
h1{ text-shadow: 2px 2px 4px #888;}

h2{margin-top: 0;}
h2{font:size 25px;}
h2{font-family: "Inter"}
h2{text-decoration: underline;}

h3{margin-top: 0;}
h3{font:size 25px;}
h3{font-family: "Inter"}

h4{margin-top: 0;}
h4{font:size 25px;}
h4{font-family: "Inter"}

main{ Width: 75%;
    
}

.Clear{ clear:both; }

footer {
    background-color: #158a06;
    padding: 15px
}

footer{
  width: 880px;
}

.satisfied{text-align: center;
}


.small{
  border-radius: 25px;
  background-color: #e6b029;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 400px;
  height: 300px;
}

.small{
      background-color:#e6b029;
}


@media print {
   header, nav {display:none}
   main {width:100%;}
   img{display:none;}
}

@media screen and (max-width:950px) {
   #head1 {
     float:none;
     width:100%;
   }
   #head2 {
     float:none;
     width:100%;
   }
   nav {
     float:none;
     width:100%;
   }
   main {
     float:none;
     width:100%;
   }
  }

html {
  scroll-behavior: smooth;
}

#head2{
  width: 5%;
  float: right;
  margin-top: -20px
}

.back-to-top {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 9999;
}

.custom-border {
  border: 5px solid #34bdf7; 
  border-radius: 20px;    
}